[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
postcodes = { git = 'git://github.com/samukasmk/postcodes.git', ref = 'v0.1.0', editable = true }
django = "==3.1.6"
djangorestframework = "==3.12.2"
django-filter = "*"
markdown = "*"
django-extensions = "*"

[dev-packages]
pyflakes = "*"
coverage = "*"
pytest = "*"
pytest-django = "*"
pytest-flakes = "*"
pytest-cov = "*"

[requires]
python_version = "3.9"
